.box{
    background-color: blueviolet;
    width:max-content;
    margin: auto;
    margin-top: 5%; 
    border-radius: 0px 0px  20px 20px;
    border: none;
}

::placeholder{
    color:white;
}
.searchfield{
    color:white;
    background-color:rgb(121, 19, 216);;
    outline: none;
    border-radius: 0px 0px  10px 10px;
    border: none;
    width: 300px;
    height: 40px;
    font-size: 1.5em;
}

.datacolor{
    color: white;
}
.databox{
    background-color:rgb(121, 19, 216);
    border-radius: 20px 20px  20px 20px;
    margin-top: 100px;
}

.cityname{
    color: white;
    font-size: 2em;
}

.temp{
    font-size: 2.5em;
    background-color: white ;
    width: max-content;
    color:rgb(121, 19, 216);
    border-radius: 10px 10px  10px 10px;
    box-shadow: 6px 5px  black;
}


